---
import { Image } from "astro:assets";

import addonOne from "../../../../public/save-money.webp";
import addonTwo from "../../../../public/licensed-agents.webp";
import SectionTwoCarrousel from "./Carrousels/SectionTwoCarrousel";

interface Props {
  addons?: boolean;
  imageSrc: ImageMetadata;
  header: string;
  description: string;
  btnText: string;
  paddingY: string;
  showCarrousel?: boolean;
}

let {
  addons,
  imageSrc,
  btnText,
  description,
  header,
  paddingY,
  showCarrousel,
} = Astro.props;
---

<section>
  <div
    class=`px-4 lg:px-8 gap-y-10 ${paddingY} flex flex-col items-center `
  >
    <div class="flex justify-center w-full">
      {showCarrousel && <SectionTwoCarrousel client:load/>}
    </div>
    <div
      class="grid grid-cols-5 grid-rows-2 gap-y-12 px-16 lg:grid-cols-2 lg:grid-rows-1 lg:gap-x-16"
    >
      <div class="row-start-1 col-start-1 col-end-4 lg:col-end-2 xl:flex xl:justify-end">
        <Image
          src={imageSrc}
          alt={"Sample alt"}
          title="Sample title"
          draggable="false"
          class="h-auto w-[100%] xl:w-[85%] xl:object-contain"
          loading="eager"
          itemprop="image"
        />
      </div>
      <div
        class="row-start-2 col-start-3 col-end-6 flex flex-col gap-y-12 lg:row-start-1 lg:col-start-2 lg:col-end-3 lg:py-6"
      >
        <h1 class="text-[#2a3142] font-bold text-3xl max-w-[330px]">
          {header}
        </h1>
        <p class="text-[#8f95a7] max-w-[450px]">
          {description}
        </p>
        <div>
          <button
            class="py-2 px-12 bg-[#0356fe] text-center text-white rounded-full"
            >{btnText}</button
          >
        </div>
        {
          addons && (
            <div class="flex gap-x-6 -mt-6">
              <div class="flex gap-x-1 items-center ">
                <Image
                  src={addonOne}
                  alt={"Sample alt image"}
                  title="Sample image"
                  draggable="false"
                  class:list="h-auto w-24"
                  loading="lazy"
                />
                <label class="block text-[#110a14] font-bold -mt-1 max-w-[120px]">
                  Save Money Compare Plans
                </label>
              </div>
              <div class="flex gap-x-1 items-center">
                <Image
                  src={addonTwo}
                  alt={"Sample alt image"}
                  title="Sample image"
                  draggable="false"
                  class:list="h-auto w-24"
                  loading="lazy"
                />
                <label class="block text-[#110a14] font-bold -mt-1 max-w-[120px]">
                  Licensed Agents
                </label>
              </div>
            </div>
          )
        }
      </div>
    </div>
  </div>
</section>
