---
import PrincipalSection from "./PrincipalSection.astro";
import SectionThree from "./SectionThree.astro";
import SectionTwo from "./SectionTwo.astro";
import SectionFour from "./SectionFour.astro";
import commitedHelp from "../../../../public/committed-help.webp";
import protecting from "../../../../public/protecting.webp";

const globalPaddingY = "py-12"; // 48px
const maxWidth = "max-w-screen-2xl"; // 1536px
---

<main class="tablet-desktop-layout">
  <PrincipalSection maxWidth={maxWidth} />
  <section class="flex flex-col">
    <SectionTwo
      addons
      header="Committed to help you find the right plan"
      imageSrc={commitedHelp}
      btnText="ABOUT INSUREZELLA"
      description=`Insurance is an important financial tool that can help you protect
            yourself and your loved ones from financial losses in the event of an
            unexpected event. It is important to consider your individual needs and
            circumstances when choosing the right insurance coverage for you and your
            family.`
      paddingY={globalPaddingY}
      showCarrousel
    />
    <SectionThree paddingY={globalPaddingY} />
    <SectionTwo
      header="Protecting people, one policy at a time."
      imageSrc={protecting}
      btnText="LEARN MORE"
      description=`IWe are committed to delivering the highest standards of pro-tection, tailored to meet the unique needs of each individual and family. Our dedicated team of professionals works tirelessly to offer comprehensive insurance solutions that not only safeguard your assets but also offer you the support and asistance you need in times of uncertainty.`
      paddingY={globalPaddingY}
    />
    <SectionFour paddingY={globalPaddingY} maxWidth={maxWidth} />
  </section>
</main>

<style>
  @media (max-width: 829px) {
    .tablet-desktop-layout {
      display: none;
    }
  }
</style>
